extends ./layout.jade

block content
  h1 
    | So you're looking for a 
    span.blue
      | {{media_type.slice(0, -1).replace('_', ' ')}}
    | .
    i.fa.fa-refresh.spaced(ng-class="{true: 'fa-spin'}[loading]" ng-click="refresh()")
  .response(ng-show="res")
    h3
      | How about 
      strong.orange {{res.volumeInfo.title}} 
      | by 
      span.darkgreen
        | {{res.volumeInfo.authors[0]}}
      | ?
    .row
      .col-sm-8
        p.text-justify
          | {{res.volumeInfo.description}} [
          span.purple
            | {{res.volumeInfo.categories[0]}}
          | ] [
          span.darkgreen
            | {{res.volumeInfo.publishedDate.substring(0, 4)}}
          | ] 
      .col-sm-4
        img.img-responsive.center-block.cover(src="{{gbooksImage(res.id)}}")