html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title How about some media?

    //- css
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

    //- palatte http://paletton.com/#uid=40L120kAH++b3ZIiKZX++wh++rK
    link(rel="stylesheet" href="/static/the.css")

  body
    nav.navbar.navbar-default
      .navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          | Kerfuffle

      .navbar-collapse.collapse#navbar
        ul.nav.navbar-nav
          li(class=(media_type === 'books' ? 'active' : undefined))
            a(href="/books")
              i.fa.fa-book.purple
              | Books
          li(class=(media_type === 'movies' ? 'active' : undefined))
            a(href="/movies")
              i.fa.fa-film.blue
              | Movies
          li(class=(media_type === 'shows' ? 'active' : undefined))
            a(href="/shows")
              i.fa.fa-television.darkgreen
              | Shows

    .container
      block main
        .main(ng-app="MediaApp" ng-controller="MainController" ng-cloak)
          h1
            | So you're looking for a
            span(ng-class="{books: 'purple', movies: 'blue',shows: 'darkgreen'}[media_type]")
              |  {{media_type.slice(0, -1)}}
            | .

            button.btn.btn-default.btn-lg.spaced(ng-click="refresh()")
              i.fa.fa-refresh.fa-2x(ng-class="{true: 'fa-spin'}[loading]")

          block content
            p missing template!

    footer.footer
      .container
        p.text-muted
          | Site by
          a(href="http://davidbrownman.com" target="blank")
            |  David Brownman
          | . Code available on
          a(href="https://github.com/xavdidtheshadow/kerfuffle" target="blank")
            |  Github
          | .

    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/static/app.js")
