extends ./layout.jade

block content
  .response(ng-show="res")
    h3
      | How about
      strong.orange  {{ res.title }}
      | ?
    .row
      .col-sm-8
        p.text-justify
          | {{ res.overview }} [
          span.darkgreen
            | {{ res.release_date.slice(0,4) }}
          | ]
      .col-sm-4
        img.img-responsive.center-block.cover(src="{{ 'https://image.tmdb.org/t/p/w342' + res.poster_path }}")
