%h3.light.center
  What show do you want to watch?

.mid
  .input-group.input-group-lg.search
    %span.input-group-addon
      %i.fa.fa-search.fa-fw{"ng-show" => "!loading"}
      %i.fa.fa-cog.fa-fw.fa-spin{"ng-show" => "loading"}
    %input.form-control{type: "text", placeholder: "TV Show", "ng-model" => "query", "ng-trim" => "false", autofocus: true}

  %h3.light.center.animated.fadeInRight#result{"ng-show" => "result"}
    Were you looking for
    %strong
      {{ result }}?

  / poster
  %img.img-responsive.animated.fadeInLeft.poster.pull-left#poster{src: "{{ posterUrl }}", "ng-show" => "showStuff"}

  / shuffle button
  .text-center.animated.fadeInRight#shuffle
    %button.btn.btn-default.btn-lg{"ng-show" => "showStuff"}
      %a{href: '/show/{{ showId }}'}
        %i.fa.fa-4x.fa-random.go

  / text
  %p.center.animated.fadeInUp#blurb{"ng-show" => "showStuff"}
    {{ overview }}

  