extends ./layout.jade

block content
  .response(ng-show="res")
    h3
      | How about 
      strong.orange {{res.show.title}}
      | ?
    .row
      .col-sm-8
        p.text-justify
          | {{res.show.overview}} [
          span.purple
            | {{res.show.status}}
          | ] [
          span.darkgreen
            | {{res.show.year}}
          | ] 
      .col-sm-4
        img.img-responsive.center-block.cover(src="{{res.show.images.poster.thumb}}")