.mid
  %h3.center
    {{ showName }}

  %h3.center.light
    How about Season
    %strong
      {{ seasonNum }}
    Episode
    %strong
      {{ episodeNum }}
    \-
    %strong
      {{ episodeTitle }}?