// let's style!

.container {
    // h1 {
        // color: blue;
    // }
    .search {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .light {
        font-weight: 300;
    }
    .center {
        text-align: center;
    }
}

.brand {
    margin: 0;
}

#big-bar {
    border-radius: 0;
}