// let's style!

.container {
    // h1 {
        // color: blue;
    // }
    .search {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .light {
        font-weight: 300;
    }
    .center {
        text-align: center;
    }

    .ok {
        color: green;
    }
}

.brand {
    margin: 0;
}

#big-bar {
    border-radius: 0;
}

// angular animation stuff

.slide {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
}

div[ng-view].ng-enter {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
}

div[ng-view].ng-leave {
    -webkit-animation: fadeOutLeft 0.5s;
    animation: fadeOutLeft 0.5s;
}