// let's style!

$footer-height: 40px;

.mid {
    // h1 {
        // color: blue;
    // }
    .search {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .light {
        font-weight: 300;
    }
    .center {
        text-align: center;
    }

    .ok {
        color: green;
    }

    .go {
        color: blue;
    }

    .poster {
        height: 300px;
    }

    #blurb {
        padding-left: 20%;
        padding-top: 2%;
        width: 80%;
    }
    
}

.mid {
    padding-bottom: $footer-height;   
}

.bot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;  
    background: #000;
    p {
        padding-top: 10px;
        padding-left: 3%;
        color: white;
    }
    border-bottom: 1px solid white;
}

.brand {
    margin: 0;
}

#big-bar {
    border-radius: 0;
}

// angular animation stuff

.slide {
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
}

div[ng-view].ng-enter {
    -webkit-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
}

div[ng-view].ng-leave {
    -webkit-animation: fadeOutLeft 0.5s;
    animation: fadeOutLeft 0.5s;
}