[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.orange {
  color: #ff9700;
}

.blue {
  color: #0f89ff;
}

.purple {
  color: #930eff;
}

.green {
  color: #85ff00;
}

.darkgreen {
  color: #68c800;
}

.spaced {
  margin-left: 20px;
}

.cover {
  border: 1px solid black;
  margin-bottom: 10px;
}

.stacked {
  margin-bottom: 20px;
}

/* sticky footer stuff */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

.footer p {
  margin: 10px 0;
}

#navbar i {
  margin-right: 10px;
  /*margin-left: 10px;*/
}
